.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.linkBoxRadio,
.linkBoxTV {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 11px 11px 20px #a6a6a6, -11px -11px 20px #ffffff;
  transition: var(--hover-effect);
}

.linkBoxRadio {
  border: 1px solid var(--radio-red);
  animation: appearLeftRotate 1s ease;
}

.linkBoxTV {
  border: 1px solid var(--television-color);
  animation: appearRightRotate 1s ease;
}

.titleRadio,
.titleTV {
  font-size: 14px;
  margin-bottom: 8px;
  text-decoration: underline;
}

.titleRadio {
  color: var(--radio-red);
  animation: appearLeft 1.4s ease;
}

.titleTV {
  color: var(--television-color);
  animation: appearRight 1.4s ease;
}

.linkItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    position: relative;
    column-gap: 60px;
    z-index: 10;
  }

  .linkBoxRadio,
  .linkBoxTV {
    width: 300px;
    height: 300px;
  }

  .titleRadio,
  .titleTV {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 660px;
  }

  .linkBoxRadio:hover,
  .linkBoxTV:hover {
    box-shadow: 11px 11px 20px #01bb55af, -11px -11px 20px #01bb55af;
    background: var(--white-color);
  }
}

@keyframes appearLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearLeftRotate {
  0% {
    opacity: 0;
    transform: translateX(-100px) rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}

@keyframes appearRightRotate {
  0% {
    opacity: 0;
    transform: translateX(100px) rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}