.titleRadio,
.titleTV {
  font-size: 18px;
  animation: appearDown 800ms ease;
}

.titleTV {
    margin-top: 20px;
}

.titleRadio span {
    color: var(--radio-red);
}

.titleTV span {
    color: var(--television-color);
}

.text {
    text-align: justify;
    margin-bottom: 12px;
    margin-top: 12px;
    animation: appearRight 1.8s ease;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        column-gap: 20px;
    }

    .desc {
        width: 46%;
    }

    .titleTV {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        flex-direction: column;
        width: 402px;
    }

    .desc {
        width: 100%;
    }
}

@keyframes appearDown {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appearRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}