.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.listItem {
  cursor: pointer;
}

.title {
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 20px 0;
}

.title span {
  color: var(--tv-color);
}

@media screen and (min-width: 768px) {
  .list {
    max-width: 768px;
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .list {
    max-width: 1200px;
  }
}
