.videosContainer {
  margin-top: 12px;
  text-align: center;
}

.title {
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.title > span {
  color: var(--radio-red);
}

.link {
  display: inline-block;
  background-color: var(--radio-red);
  padding: 6px 12px;
  margin-top: 12px;
  border-radius: 20px;
  color: var(--white-color);
  font-weight: 600;
  transition: var(--hover-effect);
}

.link:hover {
  background-color: var(--white-color);
  color: var(--radio-red);
}

.swiper-button-prev, .swiper-button-next {
    color: var(--radio-red);
}

.videoContainer {
  border-radius: 20px;
}