.label {
  font-size: 24px;
  font-weight: 600;
  color: var(--radio-red);
  width: 100%;
  max-width: 270px;
}

.containerPlayer {
  max-width: 400px;
  margin: 0 auto;
  animation: appearDown 1.4s ease;
}

@media screen and (min-width: 768px) {
  .containerPlayer {
    max-width: 480px;
  }

  .label {
    width: 360px;
    max-width: 360px;
    padding-left: 20px;
    font-size: 32px;
  }
}

@keyframes appearDown {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}