.header {
  max-width: 100%;
  -webkit-box-shadow: 0px 4px 12px 0px rgb(63, 134, 49);
  -moz-box-shadow: 0px 4px 12px 0px rgb(63, 134, 49);

  box-shadow: 0px 4px 12px 0px rgb(63, 134, 49);
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    column-gap: 20%;
  }
}
