.header {
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 12px 0px rgb(201, 124, 24);
  -moz-box-shadow: 0px 4px 12px 0px rgb(201, 124, 24);
  box-shadow: 0px 4px 12px 0px rgb(201, 124, 24);
}

.container {
  padding: 0 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1200px;
  }

  .container {
    justify-content: flex-start;
    column-gap: 20%;
  }
}