.buttonsContainer {
  width: 100%;
  max-width: 375px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  animation: appearLeft 1.4s ease;
}

.button {
  width: 118px;
  border: none;
  outline: none;
  height: 44px;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 20px;
  font-size: 14px;
  padding: 0 12px;
  transition: var(--hover-effect);
}

.activeButton {
  width: 118px;
  border: none;
  outline: none;
  height: 42px;
  background-color: var(--white-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  font-size: 14px;
  padding: 0 12px;
  -webkit-box-shadow: -1px 0px 7px 0px rgba(37,196,196,1);
  -moz-box-shadow: -1px 0px 7px 0px rgba(37,196,196,1);
  box-shadow: -1px 0px 7px 0px rgba(37,196,196,1);
  transition: var(--hover-effect);
}

.videoContainer {
  width: 100%;
  height: auto;
  max-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}

.video {
  object-fit: cover;
  width: 100%;
  max-height: 240px;
  margin-top: 10px;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .tv {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  .buttonsContainer {
    width: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  }

  .videoContainer {
    width: 600px;
    max-width: 100%;
  }

  .video {
    max-height: 300px;
  }

  .activeButton:hover,
  .button:hover {
    background-color: var(--accent-color);
  }

    .activeButton:hover {
        color: var(--white-color);
    }
}

@media screen and (min-width: 1200px){
  .videoContainer {
    width: 1000px;
  }

  .video {
    max-height: 600px;
  }
}

@keyframes appearLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
