.container {
    text-align: center;
}

.title {
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  
  .title > span {
    color: var(--tv-color);
  }

  @media screen and (min-width: 768px){
    .title {
      font-size: 24px;
      margin: 20px 0;
    }
  }